body {
    background-color: rgb(51, 51, 51);
    margin: 0;
}

nav {
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 0;
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 10px 0px black;
    padding: 0px 10px 0px 10px;
}

nav p {
    float: left;
    font-size: 22px;
    line-height: 5px;
}

nav ul {
    float: right;
    list-style: none;
    margin: 17px 20px 0px 0px;
}

nav li {
    display: inline-block;
    font-size: 16px;
}

.container {
    background-color: rgb(30, 30, 30);
    height: 100%;
    width: 900px;
    margin: 0 auto;
    padding: 45px 10px 10px 10px;
    box-shadow: 0 0 10px 0px black;
}

h1, h2, h3, p, li {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 17px;
}

p a {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

ul a {
    text-decoration: underline;
    text-decoration-color: white;
}

.code {
    background-color: #3d3d3d;
    border-radius: 2px;
    border-width: 1px;
    border-color: #303030;
    padding: 0px 2px 0px 2px;
}